<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.usedChat.dao.UsedChatMapper"> 
	<resultMap type="UsedChatRoomVO" id="usedChatMap">
		<result property="usedChat_textVO.chaC_txt" column="chaC_txt"/>
		<result property="usedChat_textVO.chaC_time" column="chaC_time"/>
	</resultMap>

	<sql id="UsedChatSub">
		FROM usedChatRoom 
		LEFT OUTER JOIN (SELECT
							<![CDATA[
							REPLACE
							(REPLACE
							(chaC_txt,'<','&lt;'),'>','&gt;') chaC_txt,
							]]>
							chaC_time,
							useC_num
						FROM usedChat_text WHERE chaC_num IN (SELECT
														MAX(chaC_num) chaC_num FROM usedChat_text
															GROUP BY useC_num))
		USING(useC_num)
	</sql>
	
	<!-- 채팅방 전체/검색 개수 -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		<include refid="UsedChatSub"></include>
		WHERE use_num = #{use_num}
	</select>
	<!-- 멤버로 검색했을때 -->
	<select id="selectRowCountByMemNum" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		<include refid="UsedChatSub"></include>
		WHERE useC_name LIKE '%'||#{mem_nickName}||'%' 
	</select>
	<!-- 채팅방 목록 -->
	<select id="selectUsedChatRoomList" parameterType="map" resultMap="usedChatMap">
		SELECT
			*
		FROM (SELECT
				a.*,
				rownum rnum
				FROM (SELECT
						*
						<include refid="UsedChatSub"></include>
						ORDER BY chaC_time DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
		AND use_num = #{use_num}
	</select>
	<!-- 채팅 메시지 읽기 -->
	 <select id="selectChatDetail" parameterType="long"
	                                 resultType="usedChat_textVO">
	 	SELECT
	 		<![CDATA[
	 		REPLACE(REPLACE(chaC_txt,'<','&lt;'),'>','&gt;') chaC_txt,
	 		]]>
	 		chaC_num,
	 		chaC_time,
	 		chaC_status,
	 		useC_num,
	 		mem_num,
	 		mem_nickname
	 	FROM usedchat_text
	    JOIN member_detail
	    USING(mem_num)
	    WHERE useC_num=#{useC_num} 
	   ORDER BY chaC_time ASC                   	               	 
	 </select>
	<!-- 채팅방 전체/검색 개수 -->
<!-- 	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM usedchatRoom 
		WHERE use_num = #{use_num}
	</select>
	
	채팅방 목록
	<select id="selectUsedChatRoomList" parameterType="map" resultMap="usedChatMap">
		SELECT
			*
		FROM (SELECT
				a.*,
				rownum rnum
				FROM (SELECT
						*
						FROM usedChatRoom
						JOIN usedChat_txt
						USING(useC_num)
						
						ORDER BY chat_date DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
		AND use_num= #{use_num} 
	</select> -->
	
 </mapper>







