<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.spring.report.dao.ReportMapper">
	<insert id="insertReport" parameterType="reportVO">
 		INSERT INTO report 
 			(report_num, 
 			reporter_num, 
 			report_content, 
 			report_type, 
 			report_typeDetail, 
 			report_category
 			) VALUES(
 			report_seq.nextval,
 			#{reporter_num},
 			#{report_content},
 			#{report_type},
 			#{report_typeDetail},
 			#{report_category}
 			)
 	</insert>
	<select id="getReportRowCount" parameterType="map"
									resultType="integer">
		SELECT
			COUNT(*)
		FROM report
	 </select>
	 <sql id="type">
	 	<if test="report_type == 1">
	 		   		 LEFT OUTER JOIN board b ON r.report_typeDetail = b.boa_num
	 		   		 where report_type = #{report_type} AND b.boa_num = #{report_typeDetail}
	 		   		 AND report_num = #{report_num}
	 	</if>
	 	<if test="report_type == 5">
	 		   		 LEFT OUTER JOIN used_item u ON r.report_typeDetail = u.use_num
	 		   		 where report_type = #{report_type} AND u.use_num = #{report_typeDetail}
	 		   		 AND report_num = #{report_num}
	 	</if>
	 	<if test="report_type == 6">
	 		   		 LEFT OUTER JOIN team t ON r.report_typeDetail = t.tea_num
	 		   		 where report_type = #{report_type} AND t.tea_num = #{report_typeDetail}
	 		   		 AND report_num = #{report_num}
	 	</if>
	 	<if test="report_type == 7">
	 		   		 LEFT OUTER JOIN tnrboard tnr ON r.report_typeDetail = tnr.tnr_num
	 		   		 where report_type = #{report_type} AND tnr.tnr_num = #{report_typeDetail}
	 		   		 AND report_num = #{report_num}
	 	</if>
	 </sql>
	  <select id="selectReportList" parameterType="map"
	 							resultType="reportVO">
	 	SELECT
	 	   *
	 	FROM (SELECT
	 			a.*,
	 			rownum rnum
	 		   FROM (SELECT
	 		   			*
	 		   		 FROM 
	 		   		 	report r JOIN member_detail m
	 		   		 	ON r.reporter_num = m.mem_num
	 		   		 	
	 		   		 	ORDER BY report_num DESC
	 		   		 )a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
		
	</select>
	  <select id="selectReportDetail" parameterType="map"
	 							resultType="reportVO">
	 							
	 	SELECT * FROM report r LEFT OUTER JOIN member_detail m ON r.reporter_num = m.mem_num
	 	
		<include refid="type"></include>
	</select>
	  
</mapper>
