<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.point.dao.PointMapper"> 
	<!-- 조건에 따른 총 포인트 증/감 -->
	  <update id="updatepointtotal" parameterType="pointVO">
	  <![CDATA[
        UPDATE point_total 
        SET point_total = 
        CASE 
            WHEN #{poi_increase} = 1 THEN point_total - #{poi_use}
            WHEN #{poi_increase} = 2 THEN point_total + #{poi_use}
            ELSE point_total 
        END 
        WHERE mem_num = #{mem_num} 
        AND (#{poi_increase} != 1 OR point_total >= #{poi_use})
        ]]>
    </update>
    <!-- include을 이용한 SQL문 재사용 -->
    <sql id="pointstatus">
            <if test="poi_status != null and poi_status != ''">
                AND poi_status = #{poi_status}
            </if>
    </sql>

    <!-- 포인트 내역 수 -->
    <select id="selectRowCount" parameterType="map" resultType="integer">
    <![CDATA[
        SELECT COUNT(*) 
        FROM point 
        JOIN point_total USING(mem_num) 
        WHERE mem_num = #{mem_num} 
    ]]>
        <include refid="pointstatus"/>
    </select>

    <!-- 포인트 목록 내역 -->
    <select id="selectPointList" parameterType="map" resultType="pointVO">
        SELECT * 
        FROM (
            SELECT a.*, rownum rnum 
            FROM (
                SELECT * 
                FROM point 
                JOIN point_total USING(mem_num)
                WHERE mem_num = #{mem_num} 
        		<include refid="pointstatus"/>
            ) a
        )
    <![CDATA[
       WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>
    </select>
    
    <!-- 포인트 게임 조건문 -->
    <sql id="pointgamelist">
    	<where>
            <if test="poi_ck != null and poi_ck != ''">
                mem_num =#{mem_num}
            </if>
        </where>
    </sql>
    <!-- 포인트 게임 목록 -->
    <select id="selectPointGameList" parameterType="map" resultType="pointGameVO">
    SELECT * FROM (SELECT a.*, rownum rnum FROM(
    SELECT * FROM point_game
    <include refid="pointgamelist"/>
    )a)
    <![CDATA[
       WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>
    </select>
    <!-- 포인트 게임 카운트 -->
    <select id="selectPointGameRowCount" parameterType="map" resultType="integer">
    SELECT COUNT(*) FROM point_game <include refid="pointgamelist"/>
    </select>
    
    <!-- 포인트 게임 조건문 -->
    <sql id="pointgameoptionlist">
            <if test="poi_ck != null and poi_ck != ''">
                AND mem_num =#{mem_num}
            </if>
    </sql>
    <!-- 포인트 게임옵션 목록 -->
    <select id="selectPointGameOptionList" parameterType="map" resultType="pointGameVO">
    SELECT * FROM (SELECT a.*, rownum rnum FROM(
    SELECT * FROM point_game_option WHERE poiG_num=#{poiG_num} 
    <include refid="pointgameoptionlist"/>
    )a)
    <![CDATA[
       WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>
    </select>
    
    <!-- 포인트 게임옵션 카운트 -->
    <select id="selectPointGameOptionRowCount" parameterType="map" resultType="integer">
    SELECT COUNT(*) FROM point_game_option <include refid="pointgameoptionlist"/>
    </select>
    
    <!-- 포인트 게임 조건문 -->
    <sql id="pointgameoptionlist">
            <if test="poi_ck != null and poi_ck != ''">
                AND mem_num =#{mem_num}
            </if>
    </sql>
    
     <!-- 포인트 게임옵션 목록 -->
    <select id="selectPointGameBettingList" parameterType="map" resultType="pointGameVO">
    SELECT * FROM (SELECT a.*, rownum rnum FROM(
    SELECT * FROM point_game_betting WHERE poiO_num=#{poiO_num}
    )a)
    <![CDATA[
       WHERE rnum >= #{start} AND rnum <= #{end}
    ]]>
    </select>
    
    <!-- 포인트 게임옵션 카운트 -->
    <select id="selectPointGameBettingRowCount" parameterType="map" resultType="integer">
    SELECT COUNT(*) FROM point_game_betting
    </select>
 </mapper>