<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.team.dao.TeamMapper"> 
	<!-- sql 태그와 include 태그를 이용해서 SQL문을 재사용 -->
	 <sql id="teamSearch">
	 	<where>
	 		<if test="keyword !=null and keyword != ''">
		 		<if test="keyfield == 1">
		 			tea_name LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 2">
		 			tea_address1 LIKE '%' || #{keyword} || '%'
		 		</if>
	 		</if>
	 	</where>
	 </sql>
	 <sql id="teamOrder">
	 	<if test="order == 1">
	 		ORDER BY tea_num DESC
	 	</if>
	 	<if test="order == 2">
	 		ORDER BY tea_hit DESC
	 	</if>
	 	<if test="order == 3">
	 		ORDER BY fav_cnt DESC NULLS LAST
	 	</if>
	 </sql>
	  <!-- 모임 등록 -->
	  <insert id="insertTeam" parameterType="teamVO" >
	  	INSERT INTO team(
	  	tea_num,
	  	tea_name,
	  	tea_content,
	  	tea_time,
	  	tea_zipcode,
	  	tea_address1,
	  	tea_address2,
	  	tea_man,
	  	mem_num
	  	)
	   VALUES(
	   #{tea_num},
	   #{tea_name},
	   #{tea_content},
	   #{tea_time, jdbcType=VARCHAR},
	   #{tea_zipcode},
	   #{tea_address1},
	   #{tea_address2},
	   #{tea_man},
	   #{mem_num}
	   )
	  </insert>
	 <!-- 모임 목록 -->
	 <select id="getTeamRowCount" parameterType="map" resultType="integer">
	 	SELECT count(*)FROM team JOIN member USING(mem_num) WHERE tea_status = 1
	 </select>
	 <select id="selectTeamList" parameterType="map" resultType="teamVO">
	 	SELECT *FROM
	 	(SELECT a.*, rownum rnum FROM
	 	(SELECT tea_num,
	 	  <![CDATA[
	         REPLACE(REPLACE(tea_name,'<','&lt;'),'>','&gt;') tea_name,
	      ]]>
	      tea_content,
	      tea_time,
	      tea_zipcode,
	      tea_address1,
	      tea_address2,
	      tea_rdate,
	      tea_man,
	      tea_hit,
	      tea_status,
	      mem_num,
	      mem_email,
	      mem_nickname,
	      fav_cnt
	      FROM team
	      JOIN member USING (mem_num) 
	      LEFT OUTER JOIN member_detail USING(mem_num)
	      LEFT OUTER JOIN (SELECT count(*) fav_cnt ,tea_num FROM team_fav GROUP BY tea_num) USING(tea_num)
	      <include refid="teamSearch"></include>
	      <include refid="teamOrder"></include>	
	 	)a)
	 	<![CDATA[
	 	WHERE rnum >= #{start} AND rnum <= #{end} AND tea_status = 1
	 	]]>	
	 </select>
	 <!-- 모임 수정 -->
	 <update id="updateTeam" parameterType="teamVO" >
	  UPDATE
	   team
	   SET
	   tea_name=#{tea_name},
	   tea_content=#{tea_content},
	   tea_time=#{tea_time, jdbcType=VARCHAR},
	   tea_zipcode=#{tea_zipcode},
	   tea_address1=#{tea_address1},
	   tea_address2=#{tea_address2},
	   tea_man=#{tea_man}
	   WHERE tea_num =#{tea_num}
	 </update>
	 <!-- 일정 등록 -->
	 
	 
	 
	 <!--모임 등록시 관리자 설정 -->
	 <insert id="insertTeamApplyByAdmin" parameterType="teamApplyVO">
	 	INSERT INTO
	 	team_apply(
	 	 teaA_num,
	 	 tea_num,
	 	 teaA_auth,
	 	 teaA_status,
	 	 mem_num
	 	)
	 	VALUES(
	 	team_apply_seq.nextval,
	 	#{tea_num},
	 	9,
	 	9,
	 	#{mem_num}
	 	)
	 	
	 </insert>
	 	 <insert id="insertTeamApply" parameterType="teamApplyVO">
	 	INSERT INTO
	 	team_apply(
	 	 teaA_num,
	 	 teaA_content,
	 	 tea_num,
	 	 mem_num
	 	)
	 	VALUES(
	 	team_apply_seq.nextval,
	 	#{teaA_content , jdbcType=VARCHAR},
	 	#{tea_num},
	 	#{mem_num}
	 	)
	 </insert>
	 
	  <select id="selectTeamListApplied" parameterType="map" resultType="teamApplyVO">
	 	SELECT * FROM team_apply a JOIN team b on a.tea_num=b.tea_num WHERE a.mem_num=#{mem_num} AND a.teaA_status = #{teaA_status} AND b.tea_status!=0
	 </select>
	 	  <select id="selectTeamListApplied2" parameterType="map" resultType="teamApplyVO">
	 	SELECT * FROM team_apply a JOIN team b on a.tea_num=b.tea_num WHERE a.mem_num=#{mem_num} AND teaA_status != 9
	 </select>
	 
	 <!--모임 게시판 등록  -->
	 <insert id="insertTeamBoard" parameterType="teamBoardVO">
	 	INSERT INTO team_board(
	 	 teaB_num,
	 	 teaB_status,
	 	 teaB_title,
	 	 teaB_content,
	 	 teaB_rdate,
	 	 teaB_category,
	 	 filename,
	 	 tea_num,
	 	 mem_num
	 	)VALUES(
	 	 team_board_seq.nextval,
	 	 #{teaB_status},
	 	 #{teaB_title},
	 	 #{teaB_content},
	 	 SYSDATE,
	 	 #{teaB_category},
	 	 #{filename , jdbcType=VARCHAR},
	 	 #{tea_num},
	 	 #{mem_num}
	 	)
	 	
	 
	 
	 </insert>
	 
	 
	 
	 <sql id="teamBoardSearch">
	 	<where>
	 		<if test="keyword !=null and keyword != ''">
		 		<if test="keyfield == 1">
		 			teaB_title LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 2">
		 			teaB_content LIKE '%' || #{keyword} || '%'
		 		</if>
	 		</if>
	 	</where>
	 </sql>
	 <sql id="teamBoardOrder">
	 	<if test="order == 1">
	 		ORDER BY teaB_num DESC
	 	</if>
	 	<if test="order == 2">
	 		ORDER BY teaB_hit DESC
	 	</if>
	 	 	<if test="order == 3">
	 		ORDER BY teaR_cnt DESC NULLS LAST
	 	</if>
	 </sql>
	  <!-- 모임게시판  등록 -->
	  
	   <!-- 모임글 목록 -->
	 <select id="selectTeamBoardRowCount" parameterType="map" resultType="integer">
	 	SELECT count(*) FROM team_board a WHERE a.tea_num = #{tea_num}
	 </select>
	 <select id="selectTeamBoardList" parameterType="map" resultType="teamBoardVO">
	 	SELECT *FROM
	 	(SELECT a.*, rownum rnum FROM
	 	(SELECT teab_num,
	 	  <![CDATA[
	         REPLACE(REPLACE(teab_title,'<','&lt;'),'>','&gt;') teab_title,
	      ]]>
	      teaB_status,
	      teaB_content,
	      teaB_rdate,
	      teaB_category,
	      filename,
	      tea_num,
	      teaB_hit,
	      mem_num,
	      mem_email,
	      teaR_cnt,
	      mem_nickname
	      FROM team_board
	      JOIN member USING (mem_num)
	      JOIN member_detail USING (mem_num)
	      LEFT OUTER JOIN (SELECT teaB_num, COUNT(*) teaR_cnt 
 		                             FROM team_reply GROUP BY teab_num)
 		                             USING (teab_num)
	      <include refid="teamBoardSearch"></include>
	      <include refid="teamBoardOrder"></include>	
	 	)a)
	 	<![CDATA[
	 	WHERE rnum >= #{start} AND rnum <= #{end} AND tea_num=#{tea_num}
	 	]]>	
	 </select>
	 <!-- 댓글 등록 -->
 	<insert id="insertTeamBoardReply" parameterType="teamReplyVO">
 		INSERT INTO team_reply(
 			teaR_num,
 			teaR_content,
 			tear_Rdate,
 			teaB_num,
 			mem_num)
 		VALUES (
 			team_reply_seq.nextval,
 			#{teaR_content},
 			SYSDATE,
 			#{teaB_num},
 			#{mem_num})	
 	</insert>
	 <!-- 댓글 목록 --> 
 	<select id="selectTeamBoardReplyList" parameterType="map"
 	                            resultType="teamReplyVO">
 		SELECT
 		   *
 		FROM (SELECT
 		        a.*,
 		        rownum rnum
 		      FROM (SELECT
 		              teaR_num,
 		              <![CDATA[
 		              REPLACE(REPLACE(teaR_content,'<','&lt;'),'>','&gt;') teaR_content,
 		              ]]>
 		              teaR_rdate,
 		              teaR_mdate,
 		              teaB_num,
 		              mem_num,
 		              mem_nickname
 		            FROM team_reply
 		            JOIN member_detail USING(mem_num)
 		            /*로그인 한 상태에서 클릭한 사람의 정보 읽기, 로그인하지 않으면 0 전달*/
 		            WHERE teaB_num=#{teaB_num}
 		            ORDER BY teaR_num DESC)a)
 		<![CDATA[
 		WHERE rnum >= #{start} AND rnum <= #{end}
 		]]>            
 	</select>
	  
 </mapper>







