@charset "UTF-8";
/* admin */

/* side-bar */
/* 사이드바 */
#page_nav{
	height: 700px;
	width: 200px;
}
.side-nav li{
	font-size: 20px;
	color:white;
	margin: 10px 0;
}
#my-photo{
	float:left;
}
#adminPage-side-bar-name{
	margin: 30px 20px;
	color: white;
	font-size: 30px;
}
.mypage-main-content{
	display : inline-block;
	margin : 0px 20px;
}
.calendar{
	margin-left: 50px;
	width: 350px;
	height:500px;
}
#schedule{
	margin-left:50px;
}
