@charset "UTF-8";
.dropdown{
	display : inline-block;
	margin : 10px;
}
.navbar-brand{
	margin-left: 200px;
}
.search-bar{
	display : inline-block;
	margin: 50px 0;
	
	text-align: center;
}

/* myPage */

/* side-bar */
/* 사이드바 */
#page_nav{
	height: 700px;
	background-color:#0da58c;
}
.side-nav li{
	font-size: 20px;
	color:white;
	margin: 10px 0;
}
