@charset "UTF-8";
.dropdown{
	display : inline-block;
	margin : 10px;
}
.navbar-brand{
	margin-left: 200px;
}
.search-bar{
	display : inline-block;
	margin: 50px 0;
	
	text-align: center;
}