@charset "UTF-8";
/* 게시판 목록
---------------------*/
form#search_form #order{
	height:32px;
}
/* 게시판 폼
---------------------*/
/*CKEditor 사용시 등록,수정폼*/
form#team_register, form#team_modify{
	padding:0 0 10px 0;
	width:800px;
	margin:auto;
}
form#team_register ul, form#team_modify ul{
	padding:20px;
	color:white;
}
form#team_register input[type="text"], 
                form#team_modify input[type="text"]{
	width:759px;
	margin-bottom: 10px;                
}
.ck-editor__editable_inline{/*CKEditor 전용*/
	min-height:250px;
}
/* 게시판 글상세
---------------------*/
ul.detail-info{
	list-style:none;
	margin:0;
	padding:0;
}
ul.detail-info li{
	margin:0;
	padding-top:5px;
	display:inline-block;
}
ul.detail-info li:last-child{
	vertical-align:top;
}
.detail-img{
	max-width:500px;
}
.detail-content img{
	max-width:940px;
}
.detail-content p{
	color:white;
}

#output_fav, .output_rfav{
	cursor:pointer;
}
#output_fcount{
	width:50px;
	display:inline-block;
}

div#loading{
	width:100%;
	height:50px;
	display:flex;
	justify-content:center;/*가로 정렬*/
	align-items:center;/*세로 정렬*/
}
p .align-center{
	text-align:center;
}
.modify-btn,.delete-btn{
	padding:4px 20px;
	border:1px solid #f0f2f1;
	border-radius:20px;
	color:#6e6e6e;
	background-color:#f0f2f1;
	font-weight:bold;
	cursor:pointer;
}
.modify-btn:hover,.delete-btn:hover{
	background-color:#e1e3e2;
	color:#000000;
	transition:0.2s ease-out;
	height:30px;
}
div.paging-button{
	text-align:right;
}
div#output{
	clear:both;
}
form#mre_form, form#mresp_form{
	border:none;
	margin:5px;
}
form#resp_form{
	background-color:#eeeeee;
	border-radius:20px;
	border:none;
	padding:10px 10px 0 10px;
	margin:10px 5px 5px 5px;
	height:130px;
}
form#resp_form textarea{
	width:560px;
}
div.item{
	margin-top:10px;
}
/* 게시판 글 수정
---------------------*/
#file_detail{
	margin:5px 0 0 130px;
}
.navbar {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    padding: 7px 10px;
    transition: background 0.3s, color 0.3s;
}

.navbar-link:hover {
    background: #575757;
    color: #fff;
    border-radius: 4px;
}
.content-container {
        display: none;
    }
.content-container.active {
        display: block;
    }
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}
.modal2-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* .default-btn{
	padding:4px 20px;
	border:1px solid #09aa5c;
	border-radius:2px;
	color:#fff;
	background-color:#09aa5c;
	font-weight:bold;
	cursor:pointer;
} */


/* 수정중 ~~~~~~~~~~~~~~~~ */
.page-main ul.detail-info li{
	color:white;
	font-size:15px;
}
.page-main div.font-white {
	color:white;
}
.page-main div.font-white h2{
	color:white;
}
.page-main h4 {
	color:white;
}
.page-main label{
	color:white;
}
div.page-main h2{
	text-align:center;
	color:white;
}
.page-main div.align-center{
	text-align:center;
}
.page-main ul.detail-info li{
	display:flex;
}
.page-main div.mapsize {
	width:800px;
	margin: 0 auto;
}
.fav-container {
    display: flex;
}
#output_fcount {
	color:white;
}
img#output_fav{
	width:50px;
}
div.align-center2{
	text-align:center;
}
.modal{
	position:absolute;
	z-index:5;
	background:white;
	margin-top: 500px;
	margin-left: 800px;
	margin-bottom:8px !important;
	padding-bottom:15px;
	border-radius:10px;
	border:1px solid #ccc;
	width:400px;  
    height:500px; 
    padding:40px;  
	text-align: center;
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);
    transform:translateY(-50%);
	
}

.itemsh{
	width:300px;
}
.hide {
	display:none; 
	width:600px !important;
	position:fixed;
	z-index:999 !important;
	bottom:400px;
	margin-bottom:400px;
	border:1px solid #999 !important;
	background:white;
}
/* 댓글*/
div#reply_div{
	padding:5px 10px 50px 10px;
	margin-top:10px;
	background-color:#EEEEEE;
	width:625px;
	border-radius: 10px 10px 10px 10px;
}

form#re_form{
	width:650px;
	border:none;
}
span.re-title{
	color:#000;
	font-size:12pt;
	line-height:200%;
}
span.letter-count{
	font-size:10pt;
	color:#999;
}
textarea.rep-content{
	width:90%;
	height:50px;
	margin:10px;
}
div#re_first, div#mre_first, div#mresp_first{
	float:left;
	width:70%;
	padding-left:15px;
	margin-bottom:10px;
}
div#re_second, div#mre_second, div#mresp_second{
	float:left;
	width:20%;
	margin-bottom:10px;
}
div#resp_first{
	float:left;
	width:70%;
	padding-left:15px;
	margin-bottom:10px;
}
div#resp_second{
	float:left;
	width:26%;
	margin-bottom:10px;
}
div.sub-item p{
	color:white;
}
div.chart-table table  tbody tr td.link a{
	color:pink;
}