@charset "UTF-8";
.modal{
	position:absolute;
	z-index:5;
	background:white;
	margin-top: 500px;
	margin-left: 800px;
	margin-bottom:8px !important;
	padding-bottom:15px;
	border-radius:10px;
	border:1px solid #ccc;
	width:400px;  
    height:500px; 
    padding:40px;  
	text-align: center;
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);
    transform:translateY(-50%);
	
}
	

.itemsh{
	width:300px;
}
.hide {
	display:none; 
	width:600px !important;
	position:fixed;
	z-index:999 !important;
	bottom:400px;
	margin-bottom:400px;
	border:1px solid #999 !important;
	background:white;
}
/* 수정중 ~~~~~~~~~~~~~~~~ */
.page-main ul.detail-info li{
	color:white;
	font-size:15px;
}
.page-main div.font-white {
	color:white;
}
.page-main div.font-white h2{
	color:white;
}
.page-main h4 {
	color:white;
}
.page-main label{
	color:white;
}
div.page-main h2{
	text-align:center;
	color:white;
}
div.page-main div.detail-content p{
	color:white;
}