@charset "UTF-8";

.member-span{
	background-color:#CCC;
	border-radius:15px;
	padding:7px;
	margin:20px;
	cursor: pointer;
	display:inline-block;
	min-width:60px;
}

.member-span > sup{
	border-radius:50%;
	display:inline-block;
	width:25px;
	height:10px;
	text-align:center;
	padding-bottom:15px;
	margin-left:5px;
	background-color:#FFF;
}
ul#search_area{
	padding:0;
	width:361px;
	margin-left:115px;
	border-left:1px solid black;
	border-right:1px solid black; 
	position: absolute;
	background-color:#FFF;
}
ul#search_area li{
	padding:8px;
	cursor: pointer;
	border-bottom:1px solid black; 
}

/* 채팅하기
--------------------------------*/
#chatting_message{
	border:1px solid black;
	width:660px;
	height:300px;
	margin:0 auto;
	padding:10px;
	overflow:auto;
}
.date-position{
	text-align:center;
	
}
.date-position span{
    display:inline-block;
	width:300px;
	height:20px;
	border-radius:10px;	
	background-color:#f2efef;
}
.from-position{
	width:300px;
	margin:10px 0 10px 330px;
}

.from-position .item{
	background-color:yellow;
	padding:10px;
	min-height:50px;	
	border-radius: 20px;
	border-top-right-radius:0;	
}
.to-position{
	width:300px;
	margin:10px 0 10px 0;
}
.to-position .item{
	background-color:pink;
	padding:10px;
	min-height:50px;
	border-radius: 20px;
	border-top-left-radius:0;
}

.to-position div.space-photo{
	float:left;
	width:15%;
}
.to-position div.space-message{
	float:left;
	width:85%;
}

.to-position div.space-clear{
	clear:both;
}
.member-message{
	width:230px;
	min-height:24px;
	border-radius:10px;
	background-color:#eee;
	margin:10px auto;
	text-align:center;
	padding:8px 4px;
	clear:both;
}
form#detail_form{
	margin-top:5px;
	border:none;
	width:682px;
	padding:0;
	margin:auto;
	overflow:hidden;
}
#message{
	width:100%;
	margin:0;
}
textarea#chaC_txt{
	width:660px;
}
#message_btn input{
	width:660px;
}
div.page-main h3{
	color:white;
	
}
div.font-white {
	color:white;
}
.modal{
	position:absolute;
	z-index:5;
	background:#c096d9;
	top:50%;
	left:40%;
	margin-bottom:8px !important;
	padding-bottom:15px;
	border-radius:10px;
	border:3px solid #C213B6;
	width:350px;
    height:600px; 
    padding:40px;
	text-align: center;
    transform:translateY(-50%);
}
.modal2{
    top:50%;
    left:40%; 
	position:absolute;
	z-index: 100;
	background:white;
	margin-bottom:8px !important;
	padding-bottom:15px;
	border-radius:10px;
	border:1px solid #ccc;
	width:350px;
    height:600px; 
    padding:40px;
	text-align: center;
    transform:translateY(-50%);
}
.modal2 textarea{
	resize: none;
}
.modal-bg{
	z-index: 99;
	position:absolute;
    display:none;
    justify-content: center;
    top:0;
    left:0;
	width:100%;
    height:100%;
	background-color: rgba(0,0,0,0.4);
}
.modal h4{
	color:white;
}

.itemsh{
	width:250px;
	margin:2px;
	border-radius: 5px;
}
