@charset "UTF-8";
.modal{
	position:absolute;
	z-index:5;
	background:#c096d9;
	top:50%;
	left:40%;
	margin-bottom:8px !important;
	padding-bottom:15px;
	border-radius:10px;
	border:3px solid #C213B6;
	width:350px;
    height:600px; 
    padding:40px;
	text-align: center;
    transform:translateY(-50%);
}
.modal2{
    top:50%;
    left:40%; 
	position:absolute;
	z-index: 100;
	background:white;
	margin-bottom:8px !important;
	padding-bottom:15px;
	border-radius:10px;
	border:1px solid #ccc;
	width:350px;
    height:600px; 
    padding:40px;
	text-align: center;
    transform:translateY(-50%);
}
.modal2 textarea{
	resize: none;
}
.modal-bg{
	z-index: 99;
	position:absolute;
    display:none;
    justify-content: center;
    top:0;
    left:0;
	width:100%;
    height:100%;
	background-color: rgba(0,0,0,0.4);
}
.modal h4{
	color:white;
}

.itemsh{
	width:250px;
	margin:2px;
	border-radius: 5px;
}
.hide {
	display:none; 
	width:600px !important;
	position:fixed;
	z-index:999 !important;
	bottom:400px;
	margin-bottom:400px;
	border:1px solid #999 !important;
	background:white;
}
/* 수정중 ~~~~~~~~~~~~~~~~ */
.page-main ul.detail-info li{
	color:white;
	font-size:15px;
}
.page-main div.font-white {
	color:white;
}
.page-main div.font-white h2{
	color:white;
}
.page-main h4 {
	color:white;
}
.page-main label{
	color:white;
}
div.page-main h2{
	text-align:center;
	color:white;
}
div.page-main div.detail-content p{
	color:white;
	font-size:20px;
	word-break:break-all;
}
/*CKEditor 사용시 등록,수정폼*/
form#board_register, form#board_modify{
	padding:0 0 10px 0;
	width:800px;
}
form#board_register ul, form#board_modify ul{
	padding:20px;
}
form#board_register input[type="text"], 
                form#board_modify input[type="text"]{
	width:759px;
	margin-bottom: 10px;                
}
.ck-editor__editable_inline{/*CKEditor 전용*/
	min-height:250px;
}