<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.spring.rent.dao.RentMapper">
    <insert id="insertRent">
        INSERT INTO game_rent (rent_num, rent_sdate, rent_edate, rent_period, mem_num, item_num)
        VALUES (game_rent_seq.nextval, #{rent_sdate}, #{rent_edate}, #{rent_period}, #{mem_num}, #{item_num})
    </insert>

	<select id="selectRentList" parameterType="map" resultType="RentVO">
	    SELECT gr.*, i.item_name
	    FROM game_rent gr
	    LEFT JOIN item i ON gr.item_num = i.item_num
	    WHERE gr.mem_num = #{mem_num}
    <include refid="rentSearch"></include>
	</select>
    
    <!-- sql 태그와 include 태그를 이용해서 SQL문을 재사용 -->
	 <sql id="rentSearch">
	 	<where>
	 		<if test="keyword !=null and keyword != ''">
	 			<if test="category !=null and category != ''">
		 			AND 
		 		</if>
		 		<if test="keyfield == 1">
		 			item_name LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<!-- <if test="keyfield == 2">
		 			(id LIKE '%' || #{keyword} || '%' OR
		 			nick_name LIKE '%' || #{keyword} || '%')
		 		</if>
		 		<if test="keyfield == 3">
		 			content LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 4">
		 			(title LIKE '%' || #{keyword} || '%' OR
		 			content LIKE '%' || #{keyword} || '%')
		 		</if> -->
	 		</if>
	 	</where>
	 </sql>
	 
	 <!-- <sql id="rentOrder">
	 	<if test="order == 1">
	 		ORDER BY rent_num DESC
	 	</if>
	 	<if test="order == 2">
	 		ORDER BY hit DESC
	 	</if>
	 	<if test="order == 3">
	 		ORDER BY fav_cnt DESC NULLS LAST
	 	</if>
	 	<if test="order == 4">
	 		ORDER BY re_cnt DESC NULLS LAST
	 	</if>
	 </sql> -->


	<!-- 대여 목록 총 레코드수/검색 레코드수 -->
	<select id="selectRowCount" parameterType="map"
	resultType="integer">
		SELECT COUNT(*)
		FROM game_rent gr
		JOIN member m ON gr.mem_num = m.mem_num
		JOIN item i ON gr.item_num = i.item_num
		WHERE gr.mem_num = #{mem_num}
	<include refid="rentSearch"></include>
</select>




    <update id="updateRent">
        UPDATE game_rent
        SET rent_sdate = #{rent_sdate},
            rent_edate = #{rent_edate},
            rent_period = #{rent-period},
            mem_num = #{mem_num},
            item_num = #{item_num}
        WHERE rent_num = #{rent_num}
    </update>
</mapper>
