<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.item.dao.ItemMapper">
    <!-- 상품 목록 -->
    <select id="selectItemList" parameterType="map" resultType="itemVO">
	 	SELECT *FROM
	 	(SELECT a.*, rownum rnum FROM
	 	(SELECT item_num,
	 	  item_id,
	 	  <![CDATA[
	         REPLACE(REPLACE(item_name,'<','&lt;'),'>','&gt;') item_name,
	      ]]>
	      item_rank,
	      item_average,
	      item_genre,
	      item_thumnail,
	      minage,
	      minplayers,
	      maxplayers,
	      description,
	      item_year,
	      item_stock,
	      item_reg_date
	      FROM item
	      <include refid="teamSearch"></include>
	      <include refid="teamOrder"></include>	
	 	)a)
	 </select>
</mapper>